#app{
    font-size: 1em;
    color: #444444;
}

#header{
  background-color: #50D0CE ;
  position: sticky;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding: 10px;
}

.section{
    padding: 10px;
  width: 70%;
  margin:auto;
}

#listCities{
  display:none
}

.city{
  text-decoration: underline;
  padding: 5px;
}

.titleOrg{
  margin-left:20px;
}
