<main>
    <section id="top">
        <div class="top">
            <div class="topHeader">
                <h1>
                    <span class="mb-20">We plan your dream trip,</span>
                    <span> exactly how <i>you</i> want it.</span>
                </h1>
                <h2>
                    Get a personal travel designer to custom-build your dream trip — everything
                    <br> you need to take off worry free
                </h2>
                <button id="topBtn" class="btnSignup">Plan My Trip</button>
            </div>
            <div class="topFeatured">
                <span class="featuredTitle">
                        As Seen In
                    </span>
            </div>
            <div class="logoSlider">
                <img class="logoF" src="./assets/img/travel.svg ">
                <img class="logoF" src="./assets/img/mashable.svg ">
                <img class="logoF" src="./assets/img/time.svg ">
                <img class="logoF" src="./assets/img/wsj.svg ">
                <img class="logoF" src="./assets/img/tech.svg ">
                <img class="logoF" src="./assets/img/cool.svg ">
            </div>
            <a class="nextSection scrollTo" href="#howItWorks">
                <mat-icon id="arrow">keyboard_arrow_down</mat-icon>
            </a>
        </div>
    </section>
    <section id="howItWorks">
        <h1 class="title">
            How It Works
        </h1>
        <div class="workbox">
            <div class="" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="0.5% " fxLayoutAlign="center ">
                <div fxFlex="33% " class="card">
                    <div class="cardImg">
                        <img class="imgWork" src="./assets/img/howitworks1.png ">
                    </div>
                    <div class="cardContent">
                        <h3 class="subTitle">
                            Step 1
                        </h3>
                        <h2 class="subTiltle2">
                            Share your travel preferences
                        </h2>
                        by filling out a quick questionnaire about how you like to travel—budget, dietary restrictions, interests and more.
                    </div>
                </div>
                <div fxFlex="33% " class="card">
                    <div class="cardImg">
                        <div class="cardWorks">
                            <img class="imgWork" src="./assets/img/howitworks2.svg ">
                        </div>

                    </div>
                    <div class="cardContent">
                        <h3 class="subTitle">
                            Step 2
                        </h3>
                        <h2 class="subTiltle2">
                            Get paired 1-on-1 with a personal trip designer
                        </h2>
                        and watch your dream trip come to life, reviewing everything via email and/or chat. </div>
                </div>
                <div fxFlex="33% " class="card">
                    <div class="cardImg">
                        <img class="imgWork" src="./assets/img/howitworks3.png ">
                    </div>
                    <div class="cardContent">
                        <h3 class="subTitle">
                            Step 3
                        </h3>
                        <h2 class="subTiltle2">
                            Receive a fully custom itinerary
                        </h2>
                        complete with logistically-optimized activity bookings and restaurant reservations. Easily access it via our iPhone app or by web browser. </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing">
        <h3 class="sectionTitle">Three simple options</h3>
        <p class="sectionDescription">
            Have questions? <a href="">Schedule a call with us.</a>
        </p>
        <div class="" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="1% " fxLayoutAlign="center ">
            <div fxFlex="50% " class="cardPricing">
                <div class="headPricing">
                    <h4 class="title">
                        Destination Advice
                    </h4>
                    <p class="headerTip">Talk to an expert</p>
                    <div class="costBox">
                        <div class="cost">FREE</div>
                    </div>
                    <div class="btnBox">
                        <button id="pricingBtn" class="btnSignup">TALK TO AN EXPERT</button>
                    </div>

                </div>
                <div class="descPricing">
                    <ul class="descItems">
                        <li class="descItem">
                            Chat with an expert trip designer
                        </li>
                        <li class="descItem">
                            Ideas on where to go
                        </li>
                        <li class="descItem">
                            Advice on how long to spend in each place
                        </li>
                        <li class="descItem">
                            Quick 15-20 minute chat
                        </li>
                    </ul>
                </div>
            </div>
            <div fxFlex="50% " class="cardPricing">
                <div class="headPricing">
                    <h4 class="title">
                        Journy Lite
                    </h4>
                    <p class="headerTip"> Travel plan only</p>
                    <div class="costBox">
                        <div class="cost">
                            <span class="text"><sup>$</sup>25</span>
                            <span class="sub-title">per day of travel</span>
                        </div>
                    </div>
                    <div class="btnBox">
                        <button id="pricingBtn" class="btnSignup">PLAN MY TRIP</button>
                    </div>

                </div>
                <div class="descPricing">

                    <ul class="descItems">
                        <li class="descItem">
                            Get paired with an expert trip designer
                        </li>
                        <li class="descItem">
                            Unlimited email / chat </li>
                        <li class="descItem">
                            Custom daily travel plan
                        </li>
                        <li class="descItem">
                            Hotel booking
                        </li>
                        <li class="descItem">
                            Includes up to 4 travelers
                            <mat-icon mat-raised-button matTooltip="For activities that require advance payment, we pass-on a 3.5% card processing fee. For your security, Journy books activities for you via our own card and then separately charges your card. This fee covers the processing costs of aggregating and paying individual service providers through Journy."
                                [matTooltipPosition]="'after'" class="infoIcon">info</mat-icon>
                        </li>
                        <li class="descItem">
                            Delivery in 7-10 days
                        </li>
                        <li class="descItem">
                            2 rounds of trip revisions
                            <mat-icon mat-raised-button matTooltip="Additional major edits will incur an extra $15 per day fee (we don’t charge for something simple like swapping out a restaurant)." [matTooltipPosition]="'after'" class="infoIcon">info</mat-icon>
                        </li>
                        <li class="descItem">
                            Links to book all recommended activities
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center ">
            <div fxFlex="50% " class="cardPricing">
                <div class="label-popular"><span>POPULAR</span></div>
                <div class="headPricing">
                    <h4 class="title">
                        Journy Full
                    </h4>
                    <p class="headerTip"> Travel plan plus booking service</p>
                    <div class="costBox">
                        <div class="cost">
                            <span class="text"><sup>$</sup>50</span>
                            <span class="sub-title">per day of travel</span>
                        </div>
                    </div>
                    <div class="btnBox">
                        <button id="pricingBtn" class="btnSignup">PLAN MY TRIP</button>
                    </div>

                </div>
                <div class="descPricing">
                    <ul class="descItems">
                        <li class="descItem descItem+">
                            Everything included in <strong>Journy Lite</strong>
                        </li>
                        <h4 class="titlePricingDesc">Premium Features</h4>
                        <li class="descItemplus">
                            Everything included in Journy Lite
                        </li>
                        <li class="descItemplus">
                            Activity and tour bookings
                            <mat-icon mat-raised-button matTooltip="For activities that require advance payment, we pass-on a 3.5% card processing fee. For your security, Journy books activities for you via our own card and then separately charges your card. This fee covers the processing costs of aggregating and paying individual service providers through Journy."
                                [matTooltipPosition]="'after'" class="infoIcon">info</mat-icon>
                        </li>
                        <li class="descItemplus">
                            Restaurant reservations
                        </li>
                        <li class="descItemplus">
                            In-destination support
                            <mat-icon mat-raised-button matTooltip="While on your trip, get support from our team for any last minute reservation changes or alternative recommendations. Due to international time differences, please ask for any updates or changes at least 12 hours in advance."
                                [matTooltipPosition]="'after'" class="infoIcon">info</mat-icon>
                        </li>
                        <li class="descItemplus">
                            Optional 30 minute call to review your draft itinerary and collect feedback
                        </li>
                    </ul>
                </div>
            </div>
            <div fxFlex="50% " class="cardPricing" style="visibility: hidden;" id="cardEMpty">

            </div>
        </div>
    </section>
    <div id="testimonial">
        <div class="main-test">
            <h3 class="sectionTitle">Happy Journy customers</h3>
            <div class="testContainer">
                <div class="testSlider">
                    <div class="arrowLeft">

                    </div>
                    <div class="slider">
                        <div class="sliderList">
                            <div class="sliderTrack">
                                <div class="sliderContainder">
                                    <div class="carousel" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center ">
                                        <div class="leftSlide" fxFlex="50% ">
                                            <div class="imgTitleSlide">
                                                <div class="picProfileSlider">
                                                    <img class="picProfile" src="./assets/img/julia-profile.jpg">
                                                </div>
                                                <div class="ratingSlider">
                                                    <div class="ratingTitle">
                                                        Julia's Couples Staycation in San Francisco
                                                    </div>
                                                    <img class="picRate" src="./assets/img/rate.svg">
                                                </div>
                                            </div>
                                            <div class="descriptionItinerary">
                                                Journy/Dave is very good about catering this itinerary directly for you. He asked questions on what exactly I was looking for and I was so pleasantly surprised! Again, I know this city very, very well and Dave created SUCH a fun 2 day itinerary!
                                            </div>
                                            <div class="statContainer">
                                                <div class="stat">
                                                    <div class="label a-heavy">Cities</div>
                                                    <div class="value">San Francisco</div>
                                                </div>
                                                <div class="stat">
                                                    <div class="label a-heavy">Pace</div>
                                                    <div class="value">See-it-all</div>
                                                </div>
                                                <div class="stat">
                                                    <div class="label a-heavy">Budget</div>
                                                    <div class="value">$200 / day</div>
                                                </div>
                                                <div class="stat">
                                                    <div class="label a-heavy">Special Requests</div>
                                                    <div class="value">Speakeasies, history, and "ony locals know about" spots</div>
                                                </div>
                                            </div>
                                            <div class="btnItineraryCon">
                                                <button class="btnItinerary">See Julia's itinerary</button>
                                            </div>
                                        </div>

                                        <div class="rightSlide" fxFlex="50% ">
                                            <div class="mapContainer">
                                                <a href=""><img class="mapPic" src="./assets/img/mapSF.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrowRight">

                    </div>
                </div>
                <div class="testCTA">
                    <h3 class="testTitle">Interested in getting your own itinerary?</h3>
                    <p class="testText">
                        Journy offers custom travel planning services in 75+ destinations around the world.
                    </p>
                    <div class="btnBox">
                        <button id="itineraryBtn" class="btnSignup">Plan My Trip</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="expertTeam">
        <h1 class="sectionTitle">
            Expertise, tailored to you
        </h1>
        <div class="sectionDescription">
            Your personal trip designer sources recommendations from our unrivaled network of local experts—including Michelin-starred chefs, award-winning sommeliers and fashion influencers. Food is where we shine, but we’ve also got activities and excursions covered,
            too.
        </div>
        <div class="expertContainer" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center ">
            <div fxFlex="50% " class="cardExpert">
                <div class="titleExpertCard">
                    Meet some of our experts
                </div>
                <div class="teamContainer">
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/falkner.png ">
                        </div>
                        <div class="nameMember">
                            Elizabeth Falkner
                        </div>
                        <div class="roleMember">
                            Iron Chef
                        </div>
                        <div class="companyMember">
                            James Beard Award Nominee
                        </div>
                    </div>
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/zimmern.png ">
                        </div>
                        <div class="nameMember">
                            Andrew Zimmern
                        </div>
                        <div class="roleMember">
                            Host
                        </div>
                        <div class="companyMember">
                            Travel Channel’s Bizarre Foods
                        </div>
                    </div>
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/wilson.png ">
                        </div>
                        <div class="nameMember">
                            Dustin Wilson
                        </div>
                        <div class="roleMember">
                            Master Sommelier
                        </div>
                        <div class="companyMember">
                            Owner, Verve Wines
                        </div>
                    </div>
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/olvera.png ">
                        </div>
                        <div class="nameMember">
                            Enrique Olvera
                        </div>
                        <div class="roleMember">
                            Head Chef, Pujol
                        </div>
                        <div class="companyMember">
                            Mexican Haute Cuisine Pioneer
                        </div>
                    </div>
                </div>
                <a class="linkMeet" target="_blank" rel="noopener noreferrer" href="https://gojourny.com/journyists">Meet all experts</a><span class=arrlink> ></span>
            </div>
            <div fxFlex="50% " class="cardExpert">
                <div class="titleExpertCard">
                    Meet some of our experts
                </div>
                <div class="teamContainer">
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/hoffman.png ">
                        </div>
                        <div class="nameMember">
                            David Hoffman
                        </div>
                        <div class="roleMember">
                            Trip Design Manager
                        </div>
                        <div class="companyMember">
                            Journy
                        </div>
                    </div>
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/sarah.png ">
                        </div>
                        <div class="nameMember">
                            Sarah Corsa
                        </div>
                        <div class="roleMember">
                            Japan Trip Designer
                        </div>
                        <div class="companyMember">
                            Journy
                        </div>
                    </div>
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/patricia.png ">
                        </div>
                        <div class="nameMember">
                            Patricia Diez
                        </div>
                        <div class="roleMember">
                            Cuba Trip Designer
                        </div>
                        <div class="companyMember">
                            Journy
                        </div>
                    </div>
                    <div class="teamMember">
                        <div class="imgMember">
                            <img class="memberPic" src="./assets/img/lepore.png ">
                        </div>
                        <div class="nameMember">
                            Joseph Lepore
                        </div>
                        <div class="roleMember">
                            UK Trip Designer
                        </div>
                        <div class="companyMember">
                            Journy
                        </div>
                    </div>
                </div>
                <a class="linkMeet" target="_blank" rel="noopener noreferrer" href="https://gojourny.com/journyists">Meet our team</a><span class=arrlink> ></span>
            </div>
        </div>
    </div>
    <div class="planning">
        <div class="titlePlanning">
            “But I love travel planning myself”
        </div>
        <div class="introPlanning">
            We hear it all the time.
        </div>
        <div class="planningContainer" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="1% " fxLayoutAlign="center ">
            <div fxFlex="33% " class="cardPlanning">
                <img class="planningPic" src="./assets/img/save.svg ">
                <div class="titlePlanningCard">
                    Save up to 30 hours (or more)
                </div>
                <div class="reasonTxt">
                    The average person spends 10-30+ hours travel planning. Instead of waiting on hold for that hard-to-snag restaurant reservation, leave it to us.
                </div>

            </div>
            <div fxFlex="33% " class="cardPlanning">
                <img class="planningPic" src="./assets/img/logistic.svg ">
                <div class="titlePlanningCard">
                    Skip the logistical nightmares
                </div>
                <div class="reasonTxt">
                    <i>Wait—is that restaurant open on Mondays? Do we have to buy train tickets in advance? Is that restaurant close to the museum?</i> We've got it covered. Plus, we'll incorporate any existing plans into your itinerary </div>
            </div>
            <div fxFlex="33% " class="cardPlanning">
                <img class="planningPic" src="./assets/img/review.svg ">
                <div class="titlePlanningCard">
                    Cut through the noise of review sites
                </div>
                <div class="reasonTxt">
                    It’s our job to obsess over the newest and greatest spots around the world every day. So why listen to an anonymous person on the internet when you can trust the team that’s spent over 15,000 hours planning trips? </div>
            </div>
        </div>
    </div>
    <div class="inspiration">
        <h1 class="sectionTitle">
            Need inspiration?<br>Explore our top destinations
        </h1>
        <div class="sectionInspiration">
            <div class="imagescenter" fxLayout="row " fxLayout.lt-lg="column " fxLayoutWrap fxLayoutGap="1% " fxLayoutAlign="center ">
                <div fxFlex="50% " class="rowImg">
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/japan.jpg ">
                        <div class="txtImgInspi">Japan</div>
                    </div>
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/italy.jpg ">
                        <div class="txtImgInspi">Italy</div>
                    </div>
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/spain.jpg ">
                        <div class="txtImgInspi">Spain</div>
                    </div>
                </div>
                <div fxFlex="50% " class="rowImg">
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/taiwan.jpg ">
                        <div class="txtImgInspi">Taiwan</div>
                    </div>
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/greece.jpg ">
                        <div class="txtImgInspi">Greece</div>
                    </div>
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/austria.jpg ">
                        <div class="txtImgInspi">Austria</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sectionInspirationSmall">
            <div class="imagescenter">
                <div class="imgsContainerSmall">
                    <div class="inspirationImg ">
                        <img class="inspiPic" src="./assets/img/japan.jpg ">
                        <div class="txtImgInspi">Japan</div>
                    </div>
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/italy.jpg ">
                        <div class="txtImgInspi">Italy</div>
                    </div>
                </div>
                <div class="imgsContainerSmall">
                    <div class="inspirationImg breakLine">
                        <img class="inspiPic" src="./assets/img/spain.jpg ">
                        <div class="txtImgInspi">Spain</div>
                    </div>
                </div>
                <div class="inspirationImg">
                    <img class="inspiPic" src="./assets/img/taiwan.jpg ">
                    <div class="txtImgInspi">Taiwan</div>
                </div>
                <div class="imgsContainerSmall">
                    <div class="inspirationImg breakLine">
                        <img class="inspiPic" src="./assets/img/greece.jpg ">
                        <div class="txtImgInspi">Greece</div>
                    </div>
                    <div class="inspirationImg">
                        <img class="inspiPic" src="./assets/img/austria.jpg ">
                        <div class="txtImgInspi">Austria</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>