<div class="content" role="main">

    <div class="section1">
        <img class="logo" src="./assets/logo.png ">
        <div class=titleTop> Sell online with Shopify</div>
        <div class="textTop">Trusted by over 1,000,000 businesses worldwide</div>
        <div class="signup">
            <input type="text" class="input-signup" placeholder="Email">
            <button class="button-signup">Start free trial</button>
            <p class="smallText">
                Try Shopify free for 14 days, no credit card required. By entering your email, you agree to receive marketing emails from Shopify.
            </p>
        </div>
        <div>
            <img class="mainPic" src="./assets/mainPic.png ">
        </div>
    </div>


    <div class="section2" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="0.5% " fxLayoutAlign="center ">
        <div fxFlex="33% " class="boxSection2">
            <img class="icon" src="./assets/phone.png "><br>
            <div class="titleSection2">
                Beautiful themes that are responsive and customizable
            </div>
            <p class="textSection2">
                No design skills needed. You have complete control over the look and feel of your website, from its layout, to content and colors.
            </p>
        </div>
        <div fxFlex="33% " class="boxSection2">
            <img class="icon" src="./assets/dollar.png ">
            <div class="titleSection2">
                Pricing as low as $9/month
            </div>
            <p class="textSection2">
                Whether you sell online, on social media, in store, or out of the trunk of your car, Shopify has you covered. Start selling anywhere for just $9/month.
            </p>
        </div>
        <div fxFlex="33% " class="boxSection2">
            <img class="icon" src="./assets/people.png ">
            <div class="titleSection2">
                Trusted by over 1,000,000 businesses worldwide
            </div>
            <p class="textSection2">
                Shopify handles everything from marketing and payments, to secure checkout and shipping
            </p>
        </div>
    </div>

    <hr class="divide">
    <div class="section3" fxLayout="row " fxLayout.lt-md="column " fxLayoutWrap fxLayoutGap="0.5% " fxLayoutAlign="center ">
        <div fxFlex="25% " class="boxSection3">
            <div class="brand">
                <img class="icon" src="./assets/brand1.png ">
            </div>
            <div class="brand smallbrand">
                <img class="icon" src="./assets/brand2.png ">
            </div>
        </div>
        <div fxFlex="25% " class="boxSection3">
            <div class="brand">
                <img class="icon" src="./assets/brand3.png ">
            </div>
            <div class="brand smallbrand">
                <img class="icon" src="./assets/brand4.png ">
            </div>
        </div>
        <div fxFlex="25% " class="boxSection3">
            <div class="brand">
                <img class="icon" src="./assets/brand5.png ">
            </div>
            <div class="brand smallbrand">
                <img class="icon" src="./assets/brand6.png ">
            </div>
        </div>
        <div fxFlex="25% " class="boxSection3">
            <div class="brand">
                <img class="icon" src="./assets/brand7.png ">
            </div>
            <div class="brand smallbrand">
                <img class="icon" src="./assets/brand8.png ">
            </div>
        </div>
    </div>
    <hr class="divide">

    <div class="section4">
        “Shopify is better than any other platform we’ve played with, and we’ve played with them all.”
        <div class="author">
            Jonathon Bayme, CEO of Theory11
        </div>
        <button class="button-signup btn-end">Start free trial</button>
    </div>
</div>


<div class="footer ">
    <div class="footerTxt">Privacy Policy </div>
    <div class="footerTxt">Terms of Service</div>

</div>

<router-outlet></router-outlet>