/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background: url("/assets/back.svg") no-repeat;
    background-size: 2400px;
    line-height: 1.7;
}

@media screen and (max-width: 900px) {
    body {
        background-size: 1600px;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-size: 1900px;
    }
}