<div class="section1" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="50%" class="left">
        <h1 class="title1">
            Understand, recognize and develop your people
        </h1>
        <p class="title2">
            Teambit helps teams create a high performing culture with regular feedback.
        </p>

        <button mat-raised-button color="primary">Sign Up</button>

    </div>
    <div fxFlex="50%" class="right">
        <img class="imgMain" src="./assets/img/illustration-main.jpg">
    </div>
</div>

<div class="section2">
    <h2>
        Traditional people processes lead to disengagement and turnover.
    </h2>
    <div class="section2Resp" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="33%">
            <img class="imgSec2Icon" src="./assets/img/hardcore.png"> <br> They are hardcore, formal and disconnected
        </div>
        <div fxFlex="33%">
            <img class="imgSec2Icon" src="./assets/img/nofeedback.png"><br> They don't encourage regular feedback
        </div>
        <div fxFlex="33%">
            <img class="imgSec2Icon" src="./assets/img/notsafe.png"><br> They don't make it safe to speak up
        </div>
    </div>
    <img class="imgSec2" src="./assets/img/before.png">

    <hr class="divide">

    <h2>It doesn't have to be like that. Teambit is a modern solution that teammates love.
    </h2>

    <div class="section2Resp" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="33%">
            <img class="imgSec2Icon" src="./assets/img/lightweight.png"> <br> It's lightweight fun and interconnected
        </div>
        <div fxFlex="33%">
            <img class="imgSec2Icon" src="./assets/img/feedbacksuggestions.png"><br> It encourages regular feedback with contextual requests
        </div>
        <div fxFlex="33%">
            <img class="imgSec2Icon" style="width: 100px;" src="./assets/img/safe.png"><br> It creates a safe environment for dialog
        </div>
    </div>
    <img class="imgSec2" src="./assets/img/after.png">

    <h2> Here is how it works
    </h2>

</div>

<div class="section3">
    <div class="section3Row" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="50%" class="ImgSection3">
            <img class="imgSec3" src="./assets/img/employee-feedback.jpg">
        </div>
        <div fxFlex="50%" class="TextSection3">
            <h2 style="padding-left: 0;">Feedback to help teammates improve</h2>
            <p class="subText">
                Empower your teammates to know in real time what they are doing well and what they need to improve.
            </p>
            <span class="refLearn">Learn more </span>
            <br>
            <div class="imgSec3Div">
                <img class="imgSec3Icon" src="./assets/img/communication.jpg">
            </div>
        </div>
    </div>

    <div class="section3Row" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="50%" class="TextSection3">
            <h2 style="padding-left: 0;">Surveys to help the team be better</h2>
            <p class="subText">
                Get real-time insights into your team with research-backed, lightweight and regular surveys.
            </p>
            <span class="refLearn">Learn more </span>
            <br>
            <div class="imgSec3Div">
                <img class="imgSec3Icon" src="./assets/img/insights.jpg">
            </div>
        </div>
        <div fxFlex="50%" class="ImgSection3">
            <img class="imgSec3" src="./assets/img/employee-survey.jpg">
        </div>
    </div>
</div>

<div class="section4">
    <h1 class="title1">
        See Teambit for yourself.<br> Get started in seconds
        <img src="./assets/img/happy.svg">
    </h1>
    <blockquote class="b_quote">
        <p>
            We are experiencing what Gallup calls 'an employee engagement crisis'. Just one-third of people at work are engaged.<br><br> To improve performance and engagement companies rely on the same principles as industrial-age factories. But all those
            annual performance reviews and hundred-question surveys don't work anymore. People want regular feedback. Leaders who don't embrace this change end up with misaligned, disengaged and dwindling team.
            <br><br> We designed Teambit to change that. It empowers teams to make feedback a daily habit. Everybody knows what they are doing well and what they need to improve, leading to better performing, engaged and happier teams.
            <br><br> We are on a mission to make worklife exciting. Come join us.<br><br>
        </p>
        <div class="author">
            <div class="authorPic">
                <img class="imgAuthor" src="./assets/img/alex.png">
                <img class="imgAuthor" src="./assets/img/bohdan.png">
            </div>
            <div class="authorText">
                Alex and Bohdan<br>
                <span style="font-size: .75rem;color: #58402c;">Co-Founders at Teambit</span>
            </div>
        </div>
    </blockquote>
    <button mat-raised-button color="primary">Sign Up</button>
</div>